/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>

/ {
	model = "KartCam Tire Sensor";
	compatible = "kartcam,kartcam_tire";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 { gpios = <&gpio0 28 GPIO_ACTIVE_LOW>; label = "LED0"; };
		led1: led_1 { gpios = <&gpio0 29 GPIO_ACTIVE_LOW>; label = "LED1"; };
		led2: led_2 { gpios = <&gpio0 30 GPIO_ACTIVE_LOW>; label = "LED2"; };
		led3: led_3 { gpios = <&gpio0 31 GPIO_ACTIVE_LOW>; label = "LED3"; };
	};

/*
	buttons {
		compatible = "gpio-keys";
		btn0: button_0 {
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
			label = "BTN0";
		};
	};
*/

    aliases {
        led0 = &led0;
        led1 = &led1;
        led2 = &led2;
        led3 = &led3;
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 19)>,
                    <NRF_PSEL(SPIM_MISO, 0, 18)>;
            };
        };
};

&gpio0 { status = "okay"; };
&gpiote { status = "okay"; };

&spi0 {
	status = "okay";

    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";

    cs-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>, <&gpio0 17 GPIO_ACTIVE_LOW>;

	lis3dh: lis3dh@0 {
		compatible = "kartcam,lis3dh-spi";
		reg = <0>;

		spi-max-frequency = <8000000>;
		spi-cpol;
		spi-cpha;

		int-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
	};

	dps368: dps368@1 {
		compatible = "vnd,spi-device";
		reg = <1>;

		spi-max-frequency = <8000000>;
		spi-cpol;
		spi-cpha;
	};
};
